---
import ReviewComment from "./reviews/reviewComment";

interface Props {
  productId: string;
  shopDomain: string;
  apiToken: string;
  limit?: number;
}

const { productId, shopDomain, apiToken, limit = 5 } = Astro.props;

// Fetch reviews from Judge.me API
const fetchJudgeMeReviews = async () => {
  try {
    const apiUrl = `https://judge.me/api/v1/reviews?api_token=${apiToken}&shop_domain=${shopDomain}&external_product_id=${productId}&per_page=${limit}`;
    const response = await fetch(apiUrl);

    if (!response.ok) {
      throw new Error(`Failed to fetch reviews: ${response.status}`);
    }

    const { reviews = [] } = await response.json();
    return reviews;
  } catch (error) {
    console.error("Error fetching JudgeMe reviews:", error);
    return [];
  }
};

// Fetch and transform reviews based on productId
const transformReviews = (reviews: any[]) => {
  const numericProductId = productId.replace("gid://shopify/Product/", "");

  return reviews
    .filter(
      ({ product_external_id }) => product_external_id == numericProductId,
    )
    .filter(({ rating }) => rating > 3)
    .map(({ pictures, reviewer, created_at, rating, body }) => ({
      avatar: pictures?.[0]?.urls.original || "/default-avatar.png",
      name: reviewer?.name || "Anonymous",
      date: new Date(created_at).toLocaleDateString(),
      rating: rating ?? 0,
      comment: body ?? "",
    }));
};

const judgeMeReviews = await fetchJudgeMeReviews();
const reviews = transformReviews(judgeMeReviews);

// console.log(reviews)
---

<div class="container mx-auto px-4 py-8 mb-12">
  <h2 class="text-4xl font-bold mb-6">Customer Reviews</h2>
  {
    reviews.length > 0 ? (
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {reviews.map((review) => (
          <ReviewComment
            review={{
              name: review.name,
              date: review.date,
              rating: review.rating,
              comment: review.comment,
            }}
          />
        ))}
      </div>
    ) : (
      <p class="text-gray-500">No reviews yet for this product.</p>
    )
  }
</div>
